.raising_grievance_icon {
	width: 12%;
}
.complaint_step {
	border-bottom: 4px solid #A5000B;
	width: 100%;
	margin-right: 15px !important;
    margin-left: 0px !important;
    padding: 0;
}
.complaint_step > .col-6 {
	padding-left: 0 !important;
}
.complaint_step_label {
	font-size: 22px;
}
.complaint_step_number {
	font-size: 40px;
	line-height: 40px;
	float: right;
	margin-bottom: -13px;
}
.complaint_step_outer {
	padding: 0px 60px 0px 15px !important;
	margin-bottom: 20px;
}