.nav-align-top .nav-tabs .nav-item:first-child .nav-link {
	border-top:  none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}
.sh_table_div {
	border-radius: 10px;
	box-shadow: 0 0 30px 10px rgb(0 0 0 / 9%) !important;
	padding: 0 !important;
	width: auto !important;
	margin-left: 40px;
}
.sh_table {
	border-radius: 10px;
	background-color: #9f2226;
	box-shadow: 0 0 30px 10px rgb(0 0 0 / 9%) !important;
	margin-bottom: 0px !important;
	width: 550px !important;
}
.sh_table_benefit_div {
	border-radius: 10px;
	box-shadow: 0 0 30px 10px rgb(0 0 0 / 9%) !important;
	padding: 0 !important;
	width: auto !important;
	margin-left: 40px;
}
.sh_table_benefit {
	border-radius: 10px;
	background-color: #9f2226;
	box-shadow: 0 0 30px 10px rgb(0 0 0 / 9%) !important;
	margin-bottom: 0px !important;
	width: 750px !important;
}
.nav-align-top > .tab-content {
	box-shadow: none !important;
}
.benefit_feature_box {
	display: table;
	border-radius: 5px;
	border: 1px solid #dedede;
}
.benefit_feature_box:hover {
	cursor: pointer;
	box-shadow: 0 0 16px 8px rgb(0 0 0 / 9%);
}

.read_more_btn {
	background-color: transparent !important;
	color: #2e2e2e !important;
	border-radius: 5px !important;
	border: 1px solid #2e2e2e !important;
}
.read_more_btn:hover{
	background-color: #fff !important;
	color: #2e2e2e !important;
	border: 1px solid #2e2e2e !important;
}
.section_1 {
    padding: 0px 100px !important;
}
.list_margin {
	margin-left: -5%;
}
.view_bio_link:hover {
	text-decoration: underline !important;
	cursor: pointer;
}
@media (max-width: 1300px) and (min-width: 1000px) {
	.section_1 {
	    padding: 0px 30px !important;
	}
	.sh_table, .sh_table_div {
		width: 100%; 
		margin-left: 0;
	  }

}
@media only screen and (max-width: 576px){
	.tab-pane {
		background-position: -80px -70px;
	}
	.section_1 {
	    padding: 0px 30px !important;
	}
	.list_margin {
		margin-left: 0;
	}
	  .sh_table {
		margin-left: 0;
		width: auto !important;
		zoom: 80%; 
		font-size: 15px;
		
	  }
	  .sh_table_div {
		margin-left: 30px;
		width: auto !important;
		font-size: 15px;
		padding: 0 !important;
		box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.09) !important;
	  }
	  .sh_table_benefit_div {
		margin-left: 30px;
		width: auto !important;
		font-size: 15px;
		box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.09) !important;
	  }
	  .sh_table_benefit {
		margin-left: 0px;
		width: auto !important;
		zoom: 70%; 
		font-size: 15px;
		
	  }
}