p {
	color: #fff;
	font-weight: 300;
}
.section_1 {
	padding: 0px 100px !important;
}
.intro_box_bg {
	background-image: url('../images/premium-banking/intro-bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}
.intro_title {
	padding: 40px 200px 0px 200px !important
}
.intro_title > p {
	margin-bottom: 30px;
	font-size: 28px;
	line-height: 32px;
}
.intro_desc {
	padding: 0px 260px 40px 260px !important;
}
.relation_manage_box {
	background-color: #705c1e;
	padding: 60px 110px 60px 60px !important;
	position: absolute;
	top: 17%;
	left: -80px;
}
.life_style_box {
	background-color: #705c1e;
	padding: 60px 140px 60px 60px !important;
	position: absolute;
	top: 13%;
	right: -80px;
}
.product_service_box {
	background-color: #705c1e;
	padding: 60px 110px 60px 60px !important;
	position: absolute;
	top: 17%;
	left: -80px;
}
.travel_box {
	background-color: #705c1e;
	padding: 60px 150px 60px 60px !important;
	position: absolute;
	top: 13%;
	right: -80px;
}
.health_care_box {
	background-color: #705c1e;
	padding: 60px 110px 60px 60px !important;
	position: absolute;
	top: 17%;
	left: -80px;
}
.plan_section_1 {
	padding: 0px 100px !important;
}
.planA, .planB, .planC, .planD {
	padding: 0px 25px !important;
}
.planA > .row {
	background-color: #555;
	padding: 40px 20px;
	background-image: url('../images/premium-banking/package_bottom_bg.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.planB > .row {
	background-color: #665a34;
	padding: 40px 20px;
	background-image: url('../images/premium-banking/package_B_bottom_bg.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.planC > .row {
	background-color: #705400;
	padding: 40px 20px;
	background-image: url('../images/premium-banking/package_C_bottom_bg.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.planD > .row {
	background-color: #7f4f08c7;
	padding: 40px 20px;
	background-image: url('../images/premium-banking/package_C_bottom_bg.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.planC-50 {
	display: none;
}
.input_email_box {
	padding: 0px 90px;
}
.novotel_branch_bg {
	background-image: url('../images/premium-banking/novotel_branch_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.planA_last_space {
	height: 158px;
}
.planB_last_space {
	height: 120px;
}
.planC_last_space {
    height: 178px;
}
.planD_last_space {
	height: 178px;
}
.benchmark_fact {
	margin-left: -60px;
}
.intro_desc > p {
	margin-bottom:5px;
	color: #cccccc;
}
@media (min-width: 1400px){
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	    max-width: 1400px !important;
	}
}
@media (max-width: 1400px) and (min-width: 1301px) {
	.intro_title {
	    padding: 30px 150px 0px 150px !important;
	}
	.intro_desc {
	    padding: 0px 160px 40px 160px !important;
	}
	.life_style_box, .product_service_box, .travel_box {
		padding: 40px !important;
	}
	.health_care_box {
		top: 10%;
	}
	.relation_manage_box {
		top: 9%;
	}
	.plan_section_container {
		padding: 0 !important;
	}
	.planA_last_space {
	    height: 167px;
	}
	.planB_last_space {
	    height: 130px;
	}
	.planC_last_space, .planD_last_space {
	    height: 236px;
	}
}
@media (max-width: 1300px) and (min-width: 1101px) {
	.intro_box_bg {
    	background-size: cover;
    }
    .intro_title {
    	padding: 30px 150px 0px 150px !important;
    }
    .intro_title > p {
    	margin-bottom: 20px;
    	font-size: 22px;
    	line-height: 26px;
    }
    .intro_desc {
    	padding: 0px 200px 30px 200px !important;
    	font-size: 13px;
    }
    .relation_manage_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 17%;
    	left: -60px;
    }
    .life_style_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 10%;
    	right: -60px;
    }
    .travel_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 10%;
    	right: -60px;
    }
    .product_service_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 10%;
    	left: -60px;
    }
    .health_care_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 17%;
    	left: -60px;
    }
    .plan_section_1 {
    	padding: 0px 20px !important;
    }
    .planA, .planB, .planC {
    	padding: 0px 25px !important;
    }
    .planA > .row, .planB > .row, .planC > .row, .planD > .row{
    	padding: 20px 10px;
    }
    .input_email_box {
    	padding: 0px 50px;
    }
    .planC-50 {
    	display: none;
    }
    .planA_last_space {
	    height: 188px;
	}
    .planB_last_space {
	    height: 150px;
	}
    .planC_last_space, .planD_last_space {
	    height: 256px;
	}
}
@media (max-width: 1100px) and (min-width: 1000px) {
	.intro_title {
    	padding: 25px 100px 0px 100px !important;
    }
    .intro_title > p {
    	margin-bottom: 20px;
    	font-size: 22px;
    	line-height: 26px;
    }
    .intro_desc {
    	padding: 0px 100px 40px 100px !important;
    	font-size: 13px;
    }
    .relation_manage_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 17%;
    	left: -60px;
    }
    .life_style_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 10%;
    	right: -60px;
    }
    .travel_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 10%;
    	right: -60px;
    }
    .product_service_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 10%;
    	left: -60px;
    }
    .health_care_box {
    	padding: 30px !important;
    	position: absolute;
    	top: 17%;
    	left: -60px;
    }
    .plan_section_1 {
    	padding: 0px 20px !important;
    }
    .planA, .planB, .planC {
    	padding: 0px 25px !important;
    }
    .input_email_box {
    	padding: 0px 50px;
    }
    .planC-50 {
    	display: block;
    }
    .plan_section_container {
    	padding: 0 !important;
    }
    .planA > .row, .planB > .row, .planC > .row, .planD > .row {
    	padding: 20px 5px;
    }
    .planA_last_space {
	    height: 168px;
	}
    .planB_last_space {
	    height: 130px;
	}
    .planC_last_space, .planD_last_space {
	    height: 244px;
	}

}
@media (max-width: 999px) and (min-width: 577px) {
	.intro_title {
	    padding: 10px 100px 0px 100px !important;
	}
	.intro_title > p {
		margin-bottom: 10px;
	    font-size: 16px;
	    line-height: 22px;
	}
	.intro_desc {
	    padding: 0px 90px 40px 90px !important;
	}
	.section_1 {
	    padding: 0px 30px !important;
	}
	.relation_manage_box {
	    padding: 30px !important;
	    top: 5%;
	}
	.life_style_box {
	    padding: 20px 20px 30px 20px !important;
	    top: 5%;
	}
	.product_service_box, .travel_box {
		padding: 30px !important;
		top: 3%;
	}
	.health_care_box {
		padding: 30px !important;
		top: 7%;
	}
	.planA, .planB, .planC, .planD {
		width: 50% !important;
		margin-bottom: 20px;
	}
	.planA_last_space, .planB_last_space {
		display: none;
	}
	.planC_last_space {
	    height: 155px;
	}
	.benchmark_fact {
		margin-left: -30px;
	}
}
@media only screen and (max-width: 576px) {
	.intro_title {
    	padding: 20px 40px 0px 40px !important;
    }
    .section_1, .plan_section_1 {
    	padding: 0px 20px !important;
    }
    .intro_title > p {
    	margin-bottom: 30px;
    	font-size: 20px;
    	line-height: 24px;
    }
    .intro_desc {
    	padding: 0px 30px !important;
    }
    .intro_desc > p {
		margin-bottom: 20px;
	}
    .intro_box_bg {
    	background-image: url('../images/premium-banking/intro-bg-mobile.jpg');
    	background-size: cover;
    }
    .relation_manage_box {
    	padding: 20px !important;
    	position: inherit;
    	top: 0;
    	left: 0;
    }
    .life_style_box {
    	padding: 20px !important;
    	position: inherit;
    	top: 0;
    	left: 0;
    }
    .product_service_box {
    	padding: 20px !important;
    	position: inherit;
    	top: 0;
    	left: 0;
    }
    .travel_box {
    	padding: 20px !important;
    	position: inherit;
    	top: 0;
    	left: 0;
    }
    .health_care_box {
    	padding: 20px !important;
    	position: inherit;
    	top: 0;
    	left: 0;
    }
    .planA, .planB, .planC, .planD {
    	margin-bottom: 30px;
    }
    .input_email_box {
    	padding: 0px 25px 0px 25px !important;
    }
    .planA_last_space, .planB_last_space, .planC_last_space, .planD_last_space {
	    height: 100px;
	}
}