.tab_section_1 {
    padding: 0px 100px !important;
}
.outer_benefit_box {
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 40px;
}
.why_use_AYA_outer > .col-md-4 {
	width: 31%;
}
.benefit_section_col {
    background-color: #fff;
    border: none !important;
    border-radius: 10px;
    padding: 0px 20px;
    box-shadow: 0px 0px 50px 20px rgb(149 149 149 / 20%);
}
.benefit_section_col > .row {
	padding: 10px 20px 0px 20px;
}
.visit_us_div {
	background-image: url('../../../images/business/remittance/local-payments/create_payment_order_bg.png');
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}
.visit_us_btn {
	background-color: #ae071d !important;
	color: #fff !important;
	padding: 10px 20px !important;
	border-color: #ae071d !important;
}
.visit_us_btn:hover{
	background-color: #fff !important;
	border-color: #ae071d !important;
	color: #ae071d !important;
}
.benefit_icon {
	width: 30% !important;
}
.head_office_cta {
	color: #000;
	font-weight: 400;
	font-size: 17px;
	padding: 0px 130px;
}
.near_branch_cta {
	color: #000;
	font-weight: 400;
	font-size: 17px;
	padding: 0px 120px;
}
.bottom_hr {
    border-bottom: 5px solid #A5000B;
    width: 150px !important;
    margin-top: 5px;
}
@media (max-width: 1400px) and (min-width: 1000px) {
	.why_use_AYA_outer > .col-md-4 {
		width: 31% !important;
	}
	.benefit_icon {
		width: 40% !important;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.international_payments_tag_div {
		width: 100% !important;
	}
	.why_use_AYA_outer > .col-md-4 {
	    width: 47%;
	}
	.head_office_cta, .near_branch_cta {
		padding: 0px 0px;
	}
}
@media only screen and (max-width: 576px){
	.visit_us_btn {
		float: none;
		margin-top: 10px;
	}
	.visit_us_col {
		text-align: center;
	}
	.visit_us_div {
		background-position: 97% center;
	}
	.swift_fact_div {
		width: 87% !important;
		margin-left: 10px;
	}
	.outer_benefit_box:first-child {
		margin-top: 10px !important;
	}
}