.nav-align-top .nav-tabs .nav-item:first-child .nav-link {
	border-top:  none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}
.tab_title > span {
	padding: 20px 0px;
}
.nav-align-top .nav-tabs .tab_title.active span {
	border-bottom: 5px solid #A5000B;
}
.nav-pills .tab_title.active, .nav-pills .tab_title.active:hover, .nav-pills .tab_title.active:focus {
	background-color: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    border-bottom: 5px solid #ae002c;
    border-radius: 0;
    font-weight: 500;
}
.nav .tab_title:hover, .nav .tab_title:focus {
	color: #000 !important;
}
.nav-pills .tab_title {
	font-weight: 400;
	font-size: 16px;
}
.tab_data_row {
	width: 100%;
}
.tab-content {
	box-shadow: none !important;
}
.benefit_feature_box {
	display: table;
}
.why_use_AYA {
	display: table-cell !important;
}
.tab_section_1 {
    padding: 0px 100px !important;
}
.secure_req_application_icon {
	background-color: #A5000B;
	color: #fff;
	border-radius: 50%;
	font-size: 20px;
}
.bullet_square {
	float: right;
	margin-top: 5px;
	width: 10%;
}
.payment_order_tagline {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 45% !important;
	position: absolute;
	top: 55%;
	right: -10%;
	text-align: left;
}
.aya_to_aya_tagline {
	font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: 60%;
    right: 57%;
    text-align: left;
    width: 40% !important;
}
.interbank_transfer_tagline {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 58% !important;
    position: absolute;
    top: 25%;
    right: 0;
    text-align: left;
}
.create_payment_order_div {
	background-image: url('../../../images/business/remittance/local-payments/create_payment_order_bg.png');
	background-size: cover;
	border-radius: 5px;
}
.visit_us_btn {
	background-color: #ae071d !important;
	color: #fff !important;
	padding: 10px 20px !important;
	border-color: #ae071d !important;
	float: right;
}
.visit_us_btn:hover{
	background-color: #fff !important;
	border-color: #ae071d !important;
	color: #ae071d !important;
}
.mobile_payment_order, .mobile_cheque_payment_order, .mobile_aya_to_aya_order {
	display: none;
}
.interbank_transfer_desc_div {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px 50px;
	height: 200px;
	display: table;
	background-color: #fff;
}
.interbank_transfer_desc {
	display: table-cell;
	vertical-align: middle;
}
@media (max-width: 1400px) and (min-width: 1301px) {
	.aya_to_aya_tagline {
	    right: 47%;
	    width: 50% !important;
	}
}
@media (max-width: 1300px) and (min-width: 1271px) {
	.bullet_square {
		width: 10%;
	}
	.aya_to_aya_tagline {
	    right: 47%;
	    width: 50% !important;
	}
}
@media (max-width: 1270px) and (min-width: 1000px) {
	.bullet_square {
		width: 15%;
	}
	.bullet_square {
		margin-top: 7px;
	}
	.payment_order_tagline {
	    font-size: 18px;
	    line-height: 24px;
	    top: 55%;
	    right: -5%;
	}
	.aya_to_aya_tagline {
	    font-size: 18px;
	    line-height: 22px;
	    top: 55%;
	    right: 42%;
		width: 55% !important;
	}
}
@media (min-width: 768px){
	.col-md-3 {
	    width: 23% !important;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.tab_section_1 {
	    padding: 0px 10px !important;
	}
}
@media only screen and (max-width: 576px){
	.tab_section_1 {
	    padding: 0px 30px !important;
	}
	.tab-pane {
		background-position: -80px -70px;
	}
	.tab_data_row {
		width: auto;
	}
	.bullet_square {
		width: 70%;
	}
	.bullet_square {
		margin-top: 10px;
		margin-right: -10px;
	}
	.payment_order_tagline {
	    font-size: 15px;
	    line-height: 20px;
	    width: 75% !important;
	    top: 40%;
	    right: 0%;
	}
	.aya_to_aya_tagline {
		font-size: 15px;
	    line-height: 20px;
	    width: 75% !important;
	    top: 7%;
	    right: 50%;
	    text-align: left;
	    width: 45% !important;
	}
	.desktop_payment_order, .desktop_aya_to_aya_order {
		display: none;
	}
	.mobile_payment_order, .mobile_cheque_payment_order, .mobile_aya_to_aya_order {
		display: block;
	}
	.visit_us_btn {
		float: none;
		margin-top: 20px;
	}
	.create_payment_order_col {
		text-align: center;
	}
	.visit_us_div {
		background-position: 97% center;
	}
}