.full_service_col_1, .full_service_col_2 {
	padding-right: 3rem !important;
}
.full_service_bank_img {
	background-image: url('../../images/about-aya/ayabank-profile/full_service_bank.webp');
	background-size: cover;
	height: 370px;
}
.leading_capabilities_row {
	margin-bottom: 30px;
}
.corporate_information_icon {
	width: 50%;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}
.leading_capabilities_value_style {
	line-height: 30px;
}
.leading_capabilities_value_style > span {
	font-size: 30px !important;
}
.leading_capabilities_text_style {
	color: #999a9a;
	text-transform: uppercase;
}
.update_date_div {
	background: rgb(245,245,245);
	background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
}
.CTA_div {
	background-image: url('../../images/about-aya/ayabank-profile/BG.webp');
	background-size: cover;
	background-position: top;
	height: 480px;
}
.CTA_detail_col_2 {
	padding-top: 8rem !important;
	padding-left: 3rem !important;
	color: #fff !important;
}
.CTA2_detail_col_1 {
	padding-top: 8rem !important;
	padding-right: 3rem !important;
}
.CTA_detail_col_1 {
	background-image: url('../../images/about-aya/ayabank-profile/a_driver_growth.webp');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 420px;
}
.CTA_detail_2_col_1 {
	background-image: url('../../images/about-aya/ayabank-profile/share_holding_information.webp');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 420px;
}
.CTA2_detail_col_2 {
	background-image: url('../../images/about-aya/ayabank-profile/business_practices.webp');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 420px;
}
.CTA_business_practice_detail_col_1 {
	background-image: url('../../images/about-aya/ayabank-profile/consumer_financial_protection.webp');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 420px;
}
.CTA_business_practice_detail_col_2 {
	padding-top: 6rem !important;
    padding-left: 4rem !important;
}
.sh_section {
	padding: 0px 250px !important;
}
.sh_table_div {
	border-radius: 10px;
	box-shadow: 0 0 30px 10px rgb(0 0 0 / 9%) !important;
	padding: 0 !important;
	width: auto;
	margin-left:40px;
}
.sh_table {
	border-radius: 10px;
	background-color: #9f2226;
	box-shadow: 0 0 30px 10px rgb(0 0 0 / 9%) !important;
	margin-bottom: 0px !important;
	width: auto;
	


}
.sh_first_td {
	padding-left: 50px !important;
}
.sh_second_td {
	text-align: center;
}
.sh_third_td {
	text-align: right;
	padding-right: 70px !important;
}
.sh_CTA_detail_col_1 {
	background-image: url('../../images/about-aya/ayabank-profile/responsible_lending.webp');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 420px;
}
.sh_CTA_detail_col_2 {
	padding-top: 10rem !important;
	padding-right: 3rem !important;
	color: #fff !important;
}
.CTA_transparent_marketing_detail_col_1 {
	background-image: url('../../images/about-aya/ayabank-profile/transparent_marketing.webp');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 420px;
}
.CTA_transparent_marketing_detail_col_2 {
	padding-top: 6rem !important;
    padding-left: 4rem !important;
}
.CTA_financial_div {
	background-image: url('../../images/about-aya/ayabank-profile/financial_inclusion.webp');
	background-size: cover;
	background-position: top;
	height: 700px;
	padding: 70px 0px;
}
.financial_red_bg {
	background-image: url('../../images/about-aya/ayabank-profile/financial_inclusion_red.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 527px;
}
.CTA_financial_detail_col_2 {
	padding-top: 3.5rem !important;
    padding-left: 0px !important;
    padding-right: 10rem !important;
    color: #fff !important;
}

@media (max-width: 1400px) and (min-width: 1280px) {
	.sh_section {
		padding: 0px 150px !important;
	}
	.financial_red_bg {
		background-position: 5% center;
	}
	.CTA_financial_detail_col_2 {
		width: 70% !important;
	}
	.CTA_financial_detail_col_2 {
		padding-right: 7rem !important;
	}
	.lead_cap_col_1 {
		width: 14% !important;
	}
}
@media (max-width: 1279px) and (min-width: 1000px) {
	.sh_section {
		padding: 0px 130px !important;
	}
	.CTA_financial_div {
		background-position: 90% center;
		padding: 40px 0px;
		height: 610px;
	}
	.financial_red_bg {
		background-position: 20% center;
	}
	.CTA_financial_detail_col_2 {
		width: 80% !important;
	}
	.CTA_financial_detail_col_2 {
		padding-right: 5rem !important;
	}
	.lead_cap_col_1 {
		width: 10% !important;
	}
	.lead_cap_col_2 {
		width: 90% !important;
	}
	.lead_cap_detail_col:nth-child(2) {
		width: 27%;
	}
	.lead_cap_detail_col:nth-child(3) {
		width: 27%;
	}
	.lead_cap_detail_col:nth-child(4) {
		width: 21%;
	}
	.lead_cap_detail_col:nth-child(6) {
		width: 27%;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.full_service_col_1, .full_service_col_2, .full_service_col_3 {
		width: 100% !important;
	}
	.full_service_bank_img {
	    height: 240px;
	    background-position: 80% center;
	}
	.corp_info_col_1, .corp_info_col_3 {
		width: 5% !important;
	}
	.corp_info_col_2 {
		width: 90% !important;
	}
	.lead_cap_col_1 {
		width: 5% !important;
	}
	.lead_cap_col_2 {
		width: 95% !important;
	}
	.lead_cap_col_3 {
		display: none !important;
	}
	.lead_cap_detail_col{
		flex: 0 0 auto !important;
		width: 33.33333333% !important;
	}
	.CTA_div {
	    height: 440px;
	}
	.CTA_div > .container {
		padding-right: 0.2rem !important;
		padding-left: 0.2rem !important;
	}
	.CTA_detail_col_1 {
		height: 360px;
    	background-position: 100% center;
	}
	.CTA_detail_2_col_1 {
	    height: 320px;
	    background-position: 100% center;
	}
	.CTA_detail_col_2 {
	    padding-top: 5rem !important;
	    padding-left: 1.5rem !important;
	}
	.CTA_div:last-child {
		height: 360px;
	}
	.CTA2_detail_col_1 {
		padding-top: 5rem !important;
	}
	.sh_section {
		padding: 0px 70px !important;
	}
	.CTA_financial_div {
	    background-position: 80% center;
	    height: 630px;
	    padding: 40px 0px;
	}
	.financial_red_bg {
	    background-position: 30% center;
	}
	.CTA_financial_detail_col_2 {
	    padding-right: 0 !important;
	    width: 80% !important;
	}
	.CTA_financial_detail_col_2 {
   		padding-top: 1.5rem !important;
   	}
   	.stake_holder_container {
	    padding: 0px 40px !important;
	}
	.stake_table {
		zoom: 80%;
	}
}
@media (max-width: 576px) and (min-width: 361px) {
	.full_service_bank_img {
	    height: 160px;
	}
	.full_service_col_1, .full_service_col_2 {
		padding-right: 0.5rem !important;
	}
	.corporate_information_icon {
	    width: 30%;
	    margin-bottom: 30px;
	}
	.leading_capabilities_row > .col-md-3 {
		text-align: center;
		margin-bottom: 20px;
	}
	.CTA_div {
		height: 810px !important;
	}
	.CTA_detail_col_1, .CTA_detail_2_col_1, .CTA2_detail_col_2, .CTA_business_practice_detail_col_1, .sh_CTA_detail_col_1,
	.CTA_transparent_marketing_detail_col_1 {
		background-size: contain;
		height: 380px !important;
	}
	.CTA_detail_col_2, .CTA2_detail_col_1 {
	    padding-top: 1.5rem !important;
	    padding-left: 1.5rem !important;
	}
	.CTA2_div > .container > .row, .responsible_CTA > .container > .row {
		flex-direction: column-reverse !important;
	}
	.CTA_div:last-child {
	    height: 670px !important;
	}
	.sh_section {
		padding: 0px 20px !important;
	}
	.CTA_business_practice_detail_col_2, .CTA_transparent_marketing_detail_col_2 {
	    padding-top: 2rem !important;
	    padding-left: 1rem !important;
	}
	.sh_CTA_detail_col_2 {
	    padding-top: 2rem !important;
	    padding-right: 1rem !important;
	}
	.responsible_CTA {
		height: 620px !important;
	}
	.CTA_financial_div {
		background-image: none;
		padding: 0 !important;
		margin-bottom: 42px;
	}
	.financial_red_bg {
		background-image: none;
		background-color: #9f2226;
		height: auto;
	}
	.CTA_financial_detail_col_2 {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.sh_first_td {
	    padding-left: 20px !important;
	}
	.sh_third_td {
	    padding-right: 20px !important;
    	width: 250px;
	}
}
@media only screen and (max-width: 360px) {
	.full_service_bank_img {
	    height: 160px;
	}
	.full_service_col_1, .full_service_col_2 {
		padding-right: 0.5rem !important;
	}
	.corporate_information_icon {
	    width: 30%;
	    margin-bottom: 30px;
	}
	.leading_capabilities_row > .col-md-3 {
		text-align: center;
		margin-bottom: 20px;
	}
	.CTA_div {
		height: 810px !important;
	}
	.CTA_detail_col_1, .CTA_detail_2_col_1, .CTA2_detail_col_2, .CTA_business_practice_detail_col_1, .sh_CTA_detail_col_1,
	.CTA_transparent_marketing_detail_col_1 {
		background-size: 322px;
		height: 310px !important;
	}
	.CTA_detail_col_2, .CTA2_detail_col_1 {
	    padding-top: 1.5rem !important;
	    padding-left: 1.5rem !important;
	}
	.CTA2_div > .container > .row, .responsible_CTA > .container > .row {
		flex-direction: column-reverse !important;
	}
	.CTA_div:last-child {
	    height: 610px !important;
	}
	.sh_section {
		padding: 0px 20px !important;
	}
	.CTA_business_practice_detail_col_2, .CTA_transparent_marketing_detail_col_2 {
	    padding-top: 1rem !important;
	    padding-right: 0.8rem !important;
	    padding-left: 0.8rem !important;
	}
	.sh_CTA_detail_col_2 {
	    padding-top: 1rem !important;
	    padding-right: 0.8rem !important;
	    padding-left: 0.8rem !important;
	}
	.responsible_CTA {
		height: 580px !important;
	}
	.CTA_financial_div {
	    background-image: none;
	    padding: 0 !important;
	    margin-bottom: 130px;
	}
	.financial_red_bg {
		background-image: none;
		background-color: #9f2226;
		height: auto;
	}
	.CTA_financial_detail_col_2 {
	    padding-right: 15px !important;
	    padding-left: 15px !important;
	    padding-top: 1rem !important;
	}
	.sh_first_td {
	    padding-left: 20px !important;
	}
	.sh_third_td {
	    padding-right: 20px !important;
    	width: 250px;
	}
	/*Stakeholder Management*/
	.stake_holder_container {
		padding: 0px 10px !important;
	}
	.stakeholder_chart {
		width: 80% !important;
	}
	.stakeholder_table_div {
		margin: 0px !important;
	}
	.stake_table {
		zoom: 70%;
	}
	/*Stakeholder Management*/
}
