.accordion-button:not(.collapsed) {
    color: #fff !important;
    background: rgb(164,99,11);
    background: linear-gradient(90deg, rgb(159 111 46) 50%, rgba(160,41,34,1) 100%);
    box-shadow: inset 0 0 0 #d9dee3;
}
.accordion-button.collapsed {
/*    color: #fff !important;*/
    background-color: #f3f3f3 !important;
    box-shadow: inset 0 0 0 #d9dee3;
}
.accordion-button {
    border-radius: 0px !important;
}
.corporate-policies-accor-btn:not(.collapsed)::after {
    background-image: url('../../images/about-aya/corporate-policy/up_arrow.webp') !important;
    transform: rotate(360deg) !important;
}
.accordion-button::after {
    background-image: url('../../images/about-aya/corporate-policy/down_arrow.webp') !important;
}
.accordion-button::after {
    background-size: 2rem !important;
    width: 2rem !important;
    height: 2rem !important;
}
.accordion-body > p > a {
    text-decoration: underline !important;
}
