.timeline > li:not(.timeline-inverted) > .timeline-panel > .timeline-heading, 
.timeline > li:not(.timeline-inverted) > .timeline-panel > .timeline-body {
	text-align: right;
}
.milestone_title{
	font-size: calc(1.2625rem + 0.15vw);
	color: #2e2e2e !important;
}
.milestones_container {
	padding: 0px 100px !important;
}
.milestones_side_bar {
	background-color: #ebeef0;
	padding: 25px 0px 20px 0px !important;
}
.milestones_sidebar_title {
	font-size: 18px;
	padding-left: 40px !important;
}
.milestones_sidebar_link {
	margin-bottom: 5px;
	padding: 5px 10px 5px 40px !important;
}
.milestones_sidebar_link > a {
	color: #2e2e2e !important;
}
.milestones_sidebar_link > a:hover {
	text-decoration: none !important;
}
.side_active {
	border-left: 5px solid #A5000B;
	padding: 5px 10px 5px 35px !important;
}

/*Timeline*/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #777777;
	left: 50%;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 50%;
	float: left;
	border-radius: 2px;
	padding: 10px 20px 20px 0px;
	position: relative;
}
.timeline > li.timeline-inverted > .timeline-panel {
	width: 50%;
	float: left;
	border-radius: 2px;
	padding: 10px 20px 20px 20px;
	position: relative;
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
	margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
	padding-right:90px;
}

.timeline > li.timeline-inverted {
	padding-left:90px;
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 22px;
	right: -40px;
	display: inline-block;
	border-top: 3px solid #777777;
    border-left: 50px solid #777777;
    border-right: 0px solid #777777;
    border-bottom: 0px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #fff;
	width: 15px;
	height: 15px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 49%;
	background-color: #A5000B;
	z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
    border-right-width: 45px;
    left: -40px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline-badge.primary {
	background-color: #2e6da4 !important;
}
.timeline-badge.success {
	background-color: #3f903f !important;
}
.timeline-badge.warning {
	background-color: #f0ad4e !important;
}
.timeline-badge.danger {
	background-color: #d9534f !important;
}
.timeline-badge.info {
	background-color: #5bc0de !important;
}
.timeline-title {
	margin-top: 0;
	color: #A5000B;
	font-weight: 600;
}
.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}
.timeline-body > p + p {
	margin-top: 5px;
}

.nav-link, h4 {
	color: #2e2e2e !important;
	padding-left: 40px !important;
}
.side_bar > li > .nav-link {
	padding-left: 35px !important;
	font-size: 16px;
}
.nav-item {
	font-size: 14px !important;
}
.nav-pills .nav-link.active {
	border-radius: 0;
	padding-bottom: 0px !important;
	color: #A5000B !important;
	border-left: 5px solid #A5000B;
}
.nav-pills .nav-link:hover {
	border-radius: 0;
	border-left: 5px solid #A5000B !important;
}
.nav-pills .nav-link.active .nav-item-separate {
	display: block;
}
.scroll_content::-webkit-scrollbar{
    display: none;
}
#myScrollspy {
	position: sticky;
	top: 20px;
	z-index: 99;
}
.timeline-inverted-reverse {
	display: none;
}
.mobile_timeline {
	display: none;
}

@media (max-width: 999px) and (min-width: 577px){
	.timeline-col {
		width: 80% !important;
	}
	.space-col {
		display: none;
	}
	.year-col {
		width: 20% !important;
	}
}

@media only screen and (max-width: 576px){
	.desktop_timeline {
		display: none;
	}
	.mobile_timeline {
		display: block;
	}
	.mobile_timeline.timeline > li > .timeline-badge {
		left: 88%;
	}
	.mobile_timeline.timeline:before {
		left: 90%;
	}
	.mobile_timeline.timeline > li > .timeline-panel:before {
	    right: -50px;
	}
	.mobile_timeline.timeline > li > .timeline-panel {
    	width: 100%;
    }
    .year-col {
    	display: none;
    }
}