.goal_step_number {
	color: #e8e8e8;
	line-height: 22px;
	font-size: 36px;
}
.goal_step_title {
	font-size: 18px;
	line-height: 22px;
	margin-left: -20px;
	color: #333;
}
.fdi_services_img {
	width: 80%;
	margin-bottom: 20px;
}
.fdi_services_col {
	margin-bottom: 40px;
	padding: 10px 0px 10px 0px;
	cursor: pointer;
	border-radius: 10px;
}
.fdi_services_col:hover {
	box-shadow: 0 0 15px 5px #f4f4f4 !important;
}
.fdi_services_link {
	display: contents;
}
.enquiry_row {
	background-color: #f2f2f2;
	border-radius: 5px;
	margin-left: 0px !important;
    margin-right: 15px !important;
    padding: 3rem !important;
}
.enquiry_btn {
	background-color: #A5000B !important;
	color: #fff !important;
	float: right;
	border: 1px solid #A5000B !important;
}
.enquiry_btn:hover {
	background-color: #fff !important;
	color: #A5000B !important;
	float: right;
}
.enquiry_label {
	display: table-cell;
   	vertical-align: middle;
}
.enquiry_label_col {
	display: table;
}

@media (max-width: 1100px) and (min-width: 1000px) {
	.fdi_services_col {
		width: 33.33333333% !important;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.fdi_services_col {
		width: 33.33333333% !important;
	}
}
@media only screen and (max-width: 576px) {
	.enquiry_label_col {
		text-align: center;
	}
	.enquiry_btn {
		text-align: center;
		margin-top: 20px;
		float: none;
	}
	.enquiry_btn_col {
		text-align: center;
	}
	.enquiry_row {
	    padding: 1.5rem !important;
	}
}