.table-borderless > :not(caption) > * > *:not(:last-child) {
	border-right: 1px solid #fff !important;
}
.table-borderless > :not(caption) > * > * {
	border-bottom: 1px solid #fff !important;
}
.nav-align-top > .tab-content, .nav-align-right > .tab-content, .nav-align-bottom > .tab-content, .nav-align-left > .tab-content {
	box-shadow: none !important;
}
.show_entries {
	border: none !important;
}
#show_entries, #search_show_entries {
	max-width: 15% !important;
	text-align: center !important;
	padding-left: 0 !important;
}
#search_show_entries:disabled {
    /* color: #A5000B; */
    background-color: #ffffff !important;
}
.input-group:focus-within {
	box-shadow: none !important;
}
.list_row_group {
	margin-bottom: 20px;
	margin-left: -10px !important;
}
.page-link.page-num-link {
	display: none;
}
.pagination  {
	justify-content: flex-end !important;
}
.location_search_div {
	width: 86% !important;
}
#button-addon2{
	border: 1px solid #d9dee3;
}
#search_value:focus-within {
/*	border-right: 1px solid #d9dee3 !important;*/
}
@media (max-width: 1400px) and (min-width: 1301px) {
   	.location_search_div {
	    width: 83% !important;
	}
}
@media (max-width: 1300px) and (min-width: 1101px) {
   	.location_search_div {
	    width: 82% !important;
	}
}
@media (max-width: 1100px) and (min-width: 769px) {
	#show_entries {
    	max-width: 30% !important;
   	}
   	.location_search_div {
	    width: 80% !important;
	}
}
@media (max-width: 768px) and (min-width: 577px) {
	#show_entries {
    	max-width: 30% !important;
   	}
   	.location_search_div {
	    width: 74% !important;
	}
}
@media only screen and (max-width: 576px) {
	#show_entries {
		max-width: 25% !important;
	}
	.pagination  {
    	justify-content: center !important;
	}

	 li.page-item {

        display: none !important;
    }

    .page-item:first-child,
    .page-item:last-child,
    .page-item.active {

        display: block !important;
    }
    .entries_count_col {
    	text-align: center;
    }
    .input-group {
    	justify-content: center !important;
    }
    .location_search_div {
    	margin-bottom: 30px;
    }
}