.popup_image {
	float: left;
    width: 100%;
    margin-right: 30px;
/*    margin-bottom: 30px;*/
}
.u_nyein_chan_soe_win_popup_image {
	margin-bottom: 50px;
}
.u_ko_ko_oo_popup_image, .u_min_wint_oo_popup_image {
	margin-bottom: 20px;
}
.daw_lwin_lwin_aung_popup_image, .nay_lin_htut_popup_image {
	margin-bottom: 70px;
}
.glider, .tab {
	width: 550px;
}
@media (max-width: 1300px) and (min-width: 1000px) {
	.popup_image, .u_nyein_chan_soe_win_popup_image {
		margin-bottom: 0;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.popup_image, .u_nyein_chan_soe_win_popup_image {
		margin-bottom: 0px;
	}
	.bio_detail {
		margin-top: 25%;
	}
	.tab_data_row > .col-md-4 {
		width: 50% !important;
	}
	.glider, .tab {
	    width: 300px;
	}
}
@media only screen and (max-width: 576px) {
	.popup_image, .u_nyein_chan_soe_win_popup_image {
		width: 100%;
	}
	.glider, .tab {
	    width: 300px;
	}
	.popup_image {
		margin-bottom: 20px;
	}
}