.nav-align-top .nav-tabs .nav-item:first-child .nav-link {
	border-top:  none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}
.tab_title > span {
	padding: 20px 0px;
}
.nav-align-top .nav-tabs .tab_title.active span {
	border-bottom: 5px solid #A5000B;
}
.nav-pills .tab_title.active, .nav-pills .tab_title.active:hover, .nav-pills .tab_title.active:focus {
	background-color: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    border-bottom: 5px solid #ae002c;
    border-radius: 0;
    font-weight: 500;
}
.nav .tab_title:hover, .nav .tab_title:focus {
	color: #000 !important;
}
.nav-pills .tab_title {
	font-weight: 400;
	font-size: 16px;
}
.nav-align-top > .tab-content, .nav-align-right > .tab-content, .nav-align-bottom > .tab-content, .nav-align-left > .tab-content {
	box-shadow: none !important;
}
.news_desc, .news_content_div > p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
}
.news_content_div > p:not(:nth-of-type(1)) {
	display: none;
}
.news_content_div > ul {
	display: none;
}
.news_date {
	padding-left: 0px !important;
}
.news_img_div {
	height: 200px !important;
    overflow: hidden;
    margin: 0 !important;
    background-size: cover;
    background-position: center;
}
.news_title_div {
	height: 62px;
}
.news_title_link:hover, .year_link:hover, .news_title:hover {
	text-decoration: none !important;
}
.news_desc_div {
    height:58px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
}
.year-bottom-hr {
	border-bottom: 4px solid #A5000B;
	width: 20% !important;
	margin-top: 5px;
	margin-left: 14px;
}
.cat-bottom-hr {
	border-bottom: 4px solid #A5000B;
	width: 45% !important;
	margin-top: 5px;
	margin-left: 14px;
}

@media (min-width: 768px){
}
@media (max-width: 1200px) and (min-width: 1000px) {
	.news_blog {
		width: 50% !important;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.news_blog {
		width: 50% !important;
	}
}
@media only screen and (max-width: 576px){
}