/* Saving Deposit */


@media (max-width: 1300px) and (min-width: 1000px) {
	.call_deposit_premium_banking_tagline{
		width: 60% !important;
	}
	.new_business_call_tagline {
		width: 45% !important;
		top: 75%;
	}
	.bullet_square {
		width: 20%;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
	.call_deposit_premium_banking_tagline {
		width: 80% !important;
		top: 85% !important;
	}
	.bullet_square_div {
		padding: 0 !important;
	}
	.business_account_tagline {
		width: 90% !important;
		top: 70%;
	}
	.new_business_call_tagline {
		width: 70% !important;
		top: 85%;
	}
}
@media only screen and (max-width: 576px){
	.calldeposit__mobile_title {
		font-size: calc(1.2625rem + 0.15vw);
		font-weight: 600 !important;
	}
	.bullet_square {
		width: 30%;
	}
	.bullet_square_div {
		padding-left: 5px !important;
		padding-right: 0 !important;
	}
}