.nav-link, h4 {
	color: #2e2e2e !important;
}
.side_nav > li > .nav-link {
	padding: 0 1.25rem 1rem 0 !important;
	font-size: 16px;
}
.nav-pills .nav-link.active {
	color: #2e2e2e !important;		
}
.nav-pills .nav-link.active > span {
	border-bottom: 4px solid #A5000B !important;
}
.scroll_content::-webkit-scrollbar{
    display: none;
}
#myScrollspy {
	position: sticky;
	top: 20px;
	z-index: 99;
}
.bullet_square {
	float: right;
	margin-top: 7px;
	width: 13%;
}
.saving_deposit_aya_reg_sav_icon, .call_premium_icon, .call_new_business_icon {
	width: 40% !important;
}
.saving_deposit_aya_su_buu_icon, .call_business_benefit_icon_2 {
	width: 25% !important;
}
.call_business_benefit_icon_1 {
	width: 36% !important;
}

/* Saving Deposit */
#aya-regular-saving, .aya-su-buu {
	padding-right: 250px;
	font-size: 18px;
	font-weight: 600;
}
.aya-regular-saving-tagline {
	font-weight: 500;
	font-size: 19px;
	line-height: 24px;
	width: 45% !important;
	position: absolute;
	top: 75%;
	left: 4%;
}
.aya-su-buu_tagline {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	position: absolute;
	top: 78%;
	left: 4%;
}
.new_business_call_tagline {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 35% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
/* Saving Deposit:end */

/* Call Deposit */
#premium_account, .business_account, .new_business_call {
	padding-right: 250px;
	font-size: 18px;
	font-weight: 600;
}
.secure_credit_fact {
	padding-left: 0 !important;
}
.call_deposit_premium_banking_tagline {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 45% !important;
	position: absolute;
	top: 85%;
	left: 4%;
}
.business_account_tagline {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	position: absolute;
	top: 85%;
	left: 4%;
}
/* Call Deposit: end */

/* Fixed Deposit */
.fixed_deposit_desc {
	margin-left: -30px;
}
/* Fixed Deposit:end */

/* Currnet Deposit */
#regular_current_account, .new_business_current_account, .enterprise_FCA_current {
	padding-right: 160px;
	font-size: 18px;
	font-weight: 600;
}
.regular_current_account_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 85% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.new_business_current_account_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 65% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.enterprise_FCA_current_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	position: absolute;
	top: 85%;
	left: 4%;
}
/* Current Deposit:end */

@media (max-width: 1300px) and (min-width: 1000px) {
	/* Saving Deposit */
	.aya-regular-saving-tagline{
		width: 60% !important;
	}
	.new_business_call_tagline {
		width: 45% !important;
		top: 75%;
	}
	/* Saving Deposit:end */

	/* Current Deposit */
	.regular_current_account_tagline{
		width: 80% !important;
		top: 75%;
	}
	.enterprise_FCA_current_tagline {
		width: 45% !important;
		top: 75%;
	}
	/* Current Deposit:end */
	
	.bullet_square {
		width: 20%;
	}
}

@media (max-width: 999px) and (min-width: 577px) {
	/* Saving Deposit */
	.aya-regular-saving-tagline {
	    width: 80% !important;
	    top: 70% !important;
	    text-shadow: 0 0 10px white !important;
	}
	.aya-su-buu_tagline {
		top: 70% !important;
	}
	/* Saving Deposit:new */

	/* Fixed Deposit */
	.fixed_deposit_desc {
		margin-left: -30px;
	}
	/* Fixed Deposit:end */

	/* Current Deposit */
	.bu_acc_sav_current_deposit_tagline_div {
		width: 100% !important;
	}
	.regular_current_account_tagline {
		top: 60%;
	}
	.bullet_square_div {
		padding: 0 !important;
	}
	.new_business_current_account_tagline {
		width: 80% !important;
		top: 60%;
	}
	.enterprise_FCA_current_tagline {
		top: 70%;
		width: 70% !IMPORTANT;
	}
	/* Current Deposit:end */
	
	.bullet_square_div {
		padding: 0 !important;
	}
}
@media only screen and (max-width: 576px){
	/* Saving Deposit */
	.calldeposit__mobile_title {
		font-size: calc(1.2625rem + 0.15vw);
		font-weight: 600 !important;
	}
	.aya-su-buu_tagline {
	    font-size: 16px;
	    line-height: 18px;
	    top: 55%;
	}
	.aya-regular-saving-tagline {
	    font-size: 16px;
	    line-height: 18px;
	    width: 95% !important;
	    top: 67%;
	}
	/* Saving Deposit:end */

	/* Fixed Deposit */
	.fixed_deposit_desc {
		margin-left: 10px;
	}
	/* Fixed Deposit:end */

	/* Current Deposit */
	.regular_current_account_tagline {
	    font-size: 16px;
	    line-height: 18px;
	    width: 95% !important;
	    top: 40%;
	}
	.new_business_current_account_tagline {
	    font-size: 16px;
	    line-height: 18px;
	    width: 95% !important;
	    top: 53%;
	}
	.enterprise_FCA_current_tagline {
	    font-size: 16px;
	    line-height: 18px;
	    top: 65%;
	    width: 95% !important;
	}
	/* Current Deposit:end */
	
	.bullet_square {
		width: 30%;
	}
	.bullet_square_div {
		padding-left: 5px !important;
		padding-right: 0 !important;
	}
}