.nav-link, h4 {
	color: #2e2e2e !important;
}
.cash_mgmt_link > li > .nav-link {
	padding: 0 1.25rem 1rem 0 !important;
	font-size: 16px;
}
.nav-item-separate {
	border-bottom: 4px solid #A5000B;
	width: 60%;
	margin-top: 5px;
	display: none;
}
.nav-pills .nav-link.active {
	border-radius: 0;
	padding-bottom: 0px !important;
	color: #ae071d !important;
}
.nav-pills .nav-link.active .nav-item-separate {
	display: block;
}
.scroll_content::-webkit-scrollbar{
    display: none;
}
#myScrollspy {
	position: sticky;
	top: 20px;
	z-index: 99;
}
.bullet_square {
	width: 8%;
}
#payroll_service, .receivables_service, .bulk_payment_payables_services, .liquidity_service {
	padding-right: 250px;
	font-size: 18px;
	font-weight: 700;
}
.secure_req_application_icon {
	margin-top: -5px;
}
.secure_credit_fact {
	padding-left: 0 !important;
}
.payroll_service_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 50% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.receivables_service_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 38% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.franchise_financing_tagline, .trade_financing_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 50% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.bulk_payment_payables_services_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 70% !important;
	position: absolute;
	top: 85%;
	left: 4%;
}
.liquidity_service_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 53% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.franchise_financing_tagline {
	width: 70% !important;
	top: 85%;
}
.trade_financing_tagline {
	width: 90% !important;
}
.contact_us_btn {
	background-color: #ae071d !important;
	color: #fff !important;
	font-weight: 500;
	padding: 15px 25px !important;
	border: 1px solid #ae071d !important;
	margin-bottom: 10px;
}
.contact_us_btn:hover {
	background-color: #fff !important;
	color: #ae071d !important;
}
.c-b-l-icon {
	width: 60% !important;
}
.fee_charge_table {
	width: 70% !important;
}
.why_use_AYA_outer {
	column-gap: 40px;
}
.why_use_AYA_outer > .col-md-6 {
	width: 48%;
}
.benefit_section_col {
    background-color: #fff;
    border: none !important;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
	border: 1px solid #dedede !important;
    margin-bottom: 30px;
}
.benefit_section_col:hover {
	border: 1px solid #fff !important;
	box-shadow: 0px 0px 50px 20px rgb(149 149 149 / 20%);
}
.benefit_section_col > .row {
	padding: 30px;
}
.benefit_icon {
	width: 70% !important;
	margin-bottom: 20px;
}
.benefit_table_icon_td {
	width: 17%;
}
.need-to-know-point {
	margin-left: -5rem;
}
.should-apply-point {
    margin-left: -3rem;
}
.margin_payroll_service {
	margin-left: -30px;
}
.cash-management-service-img {
	width: 60%;
	margin-top: 20px;
}
.benefit_table_text_td > p {
	margin-left: -50px;
}
@media (max-width: 1400px) and (min-width: 1271px) {
	.payroll_service_tagline{
		width: 60% !important;
	    top: 80%;
	}
	.receivables_service_tagline {
	    width: 45% !important;
	}
	.bulk_payment_payables_services_tagline {
	    width: 55% !important;
	}
	.liquidity_service_tagline {
		width: 65% !important;
	}
}
@media (max-width: 1270px) and (min-width: 1000px) {
	.payroll_service_tagline, .bulk_payment_payables_services_tagline, .receivables_service_tagline, .liquidity_service_tagline {
		font-size: 18px;
	    line-height: 22px;
	}
	.payroll_service_tagline{
		width: 70% !important;
    	top: 75%;
	}
	.receivables_service_tagline {
	    width: 50% !important;
	    top: 75%;
	}
	.bulk_payment_payables_services_tagline {
		width: 60% !important;
		top: 75%;
	}
	.liquidity_service_tagline{
		width: 70% !important;
	    top: 75%;
	}
	.franchise_financing_tagline {
	    width: 100% !important;
	    top: 85%;
	}
	.trade_financing_tagline {
		top: 75%;
	}
	.bullet_square {
		width: 11%;
	}
	.c-b-l-icon {
		width: 100% !important;
	}
	.fee_charge_table {
	    width: 100% !important;
	}
	.need-to-know-point {
	    margin-left: -3rem;
	}
	.should-apply-point {
	    margin-left: -2rem;
	}
	.why_use_AYA_outer > .col-md-6 {
	    width: 47%;
	}
	.benefit_icon {
    	width: 90% !important;
    }
    .margin_payroll_service {
	    margin-left: -10px;
	}
}
@media only screen and (max-width: 576px){
	.benefit_section_col {
		padding: 20px !important;
	}
	.why_use_AYA_outer {
		column-gap: unset;
		padding: 0px 15px;
	}
	.why_use_AYA_outer > .col-md-6 {
		width: 100%;
	}
	.benefit_icon {
	    width: 30% !important;
	}
	.cash-management-service-img {
		width: 90%;
		margin-top: 10px;
	}
	#payroll_service, .receivables_service, .bulk_payment_payables_services, .liquidity_service, .franchise_financing, .trade_financing {
		padding-right: 0px;
	}
	.calldeposit__mobile_title {
		font-size: calc(1.2625rem + 0.15vw);
		font-weight: 600 !important;
	}
	.bullet_square {
		width: 100%;
	}
	.payroll_service_tagline, .bulk_payment_payables_services_tagline, .receivables_service_tagline, .liquidity_service_tagline, .franchise_financing_tagline, .trade_financing_tagline {
		font-size: 18px;
	    line-height: 20px;
	}
	.payroll_service_tagline {
		width: 90% !important;
		top: 65%;
	}
	.c-b-l-icon {
		width: 80% !important;
		float: center !important;
	}
	.c-b-l-div {
		text-align: center;
	}
	.benefit_table_text_td > p {
		margin-left: -30px;
	}
	.fee_charge_table {
		width: 100% !important;
	}
	.receivables_service_tagline {
	    width: 90% !important;
	    top: 67%;
	    left: 4%;
	}
	.bulk_payment_payables_services_tagline {
		width: 93% !important;
    	top: 63%;
	}
	.liquidity_service_tagline {
		width: 92% !important;
	    top: 50%;
	}
	.franchise_financing_tagline{
		top: 65%;
		width: 90% !important;
	}
	.trade_financing_tagline {
		top: 50%;
	}
	.benefit_table_icon_td {
		width: 30%;
		vertical-align: top;
	}
	.need-to-know-point, .should-apply-point {
	    margin-left: 0rem;
	}
	.margin_payroll_service {
	    margin-left: 10px;
	}
}