.nav-link, h4 {
	color: #2e2e2e !important;
}
.side-nav > .nav-item > .nav-link {
	padding: 0 1.25rem 1rem 0 !important;
	font-size: 16px;
}
.side-nav > .nav-item > .nav-link:hover {
	text-decoration: none !important;
}
.nav-item-separate {
	border-bottom: 4px solid #A5000B;
	width: 60% !important;
	margin-top: 5px;
	display: none;
}
.side-nav.nav-pills .nav-link.active {
	border-radius: 0;
	padding-bottom: 0px !important;
	color: #ae071d !important;
}
.side-nav.nav-pills .nav-link.active .nav-item-separate {
	display: block;
}
.side-link {
	display: block;
}
.side-nav.nav-pills > li > .side-link.active {
    border-radius: 0;
    padding-bottom: 0px !important;
    color: #ae071d !important;
}
.side-nav > li > .side-link {
	color: #2e2e2e !important;
    padding: 0 1.25rem 1rem 0 !important;
    font-size: 16px;
}
.side-nav > li > .side-link:hover {
	color: #A5000B !important;
	text-decoration: none !important;
}
.side-nav > li > a.active .nav-item-separate {
	display: block;
}
.scroll_content::-webkit-scrollbar{
    display: none;
}
#myScrollspy {
	position: sticky;
	top: 20px;
	z-index: 99;
}
.col-1 {
	width: 6% !important;
}
.col-11 {
	padding-left: 0px !important;
}
#quick_look {
	padding-right: 100px;
}
.open_at_aya_branch_icon {
	width: 80%;
}
.benefit_table {
	padding: 0px !important;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: transparent;
	margin-bottom: 0px !important;
}
.benefit_table_div {
	background: linear-gradient(90deg, transparent 50%, #ebebeb 50%);
	padding: 0px !important;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.brand_new_title {
	color: #666666;
	border-width: 1px;
	border-top-left-radius: 10px;
	background-color: #ebebeb !important;
	font-weight: 600;
	padding: 20px;
	border-top: none;
	border-left: none;
}
.brand_new_chinese_title {
	color: #666666;
	border-width: 1px;
	background-color: #ebebeb !important;
	font-weight: 600;
	padding: 20px;
	border-top: none;
}
.pre_owned_car {
	color: #666666;
	border-width: 1px;
	border-top-right-radius: 10px;
	background-color: #ebebeb !important;
	font-weight: 600;
	padding: 20px;
	border-right: none;
	border-top: none;
}
.loan_eligibility_check {
	background-image: url('../../../../images/borrowing/hire_purchase/auto_loan/eligibility_calculate_laptop_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 45px 40px 20px 60px !important;
	height: 236px;
	border-radius: 5px;
}
.loan_eligibility_check_inner {
	padding-right: 110px !important;
}
.apply_now_btn {
	background-color: #ae071d !important;
	color: #fff !important;
	font-weight: 500;
	padding: 15px 25px !important;
	border: 1px solid #ae071d !important;
	margin-bottom: 2rem;
}
.apply_now_btn:hover {
	background-color: #fff !important;
	color: #ae071d !important;
}
.FAQ_button {
	background-color: #ae071d !important;
	color: #fff !important;
	font-weight: 500;
	padding: 15px 35px !important;
	border: 1px solid #ae071d !important;
	margin-bottom: 10px;
}
.FAQ_button:hover {
	background-color: #fff !important;
	color: #ae071d !important;
}
.income_document_div {
    height: 347px;
	background-image: url('../../../../images/borrowing/hire_purchase/auto_loan/income_document_bg_2.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	padding: 70px 140px 70px 70px;
}
.nav-align-top .nav-tabs .nav-item:first-child .nav-link {
	border-top:  none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}
.tab_title > span {
	padding: 20px 0px;
}
.auto_loan_nav .nav-item .tab_title:not(.active) {
	border-bottom: 2px solid #c9c9c9 !important;
    width: 70%;
    border-radius: 0px !important;
}
.tab_title:not(.active) < .nav-item {
	width: 70% !important;
}
.auto_loan_nav .nav-align-top .nav-tabs .tab_title.active span {
	border-bottom: 5px solid #A5000B;
}
.auto_loan_nav.nav-pills .tab_title {
	padding: 10px 15px 7px 15px !important;
}
.auto_loan_nav.nav-pills .tab_title.active, .nav-pills .tab_title.active:hover, .nav-pills .tab_title.active:focus {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    font-weight: 500;   
    border-color: #ae002c;
    border: 2px solid #c9c9c9;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*.auto_loan_nav.nav-pills .tab_title:not(.active) {
	background: #cccccc2e !important;
	border: 2px solid #c9c9c9;
	border-bottom: none;
	border-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}*/
.nav .tab_title:hover, .nav .tab_title:focus {
	color: #000 !important;
}
.nav-pills .tab_title {
	font-size: 15px;
	padding-left: 0px;
}
.swiper-navBtn{
	color: #d7d7d8;
	transition: color 0.3s ease;
	top: 40%;
	border: 1px solid #dedede;
}
.swiper-navBtn:hover{
	color: #979797;
	border: 1px solid #979797;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
	font-size: 20px;
}
.swiper-button-next{
	right: 0;
	border-radius: 50%;
    padding: 20px 20px 20px 23px;
}
.swiper-button-prev{
	left: 0;
	border-radius: 50%;
    padding: 20px 23px 20px 20px;
}
.swiper-pagination-bullet{
	background-color: #6E93f7;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #4070F4;
}
.card {
	box-shadow: none !important;
	padding: 30px 20px 20px 20px !important;
    border-radius: 0px !important;
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	transform: translate(-50%,40%) !important;
	padding: 5px;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,13px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,13px));
}
.swiper-pagination-bullet {
	background-color: #c3c3c3;
}
.swiper-pagination-bullet-active {
	background-color: #982801;
	border: 2px solid #fff;
	outline: 2px solid #982801;
}
.swiper-wrapper {
	height: 90%;
}
.slide-content-desktop > .swiper-wrapper > .swiper-slide:after,
.slide-content-desktop > .swiper-wrapper > .swiper-slide:before,
.slide-content-dealer-desktop > .swiper-wrapper > .swiper-slide:after,
.slide-content-dealer-desktop > .swiper-wrapper > .swiper-slide:before,
.slide-content-individual-desktop > .swiper-wrapper > .swiper-slide:after,
.slide-content-individual-desktop > .swiper-wrapper > .swiper-slide:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.slide-content-desktop > .swiper-wrapper > .swiper-slide:after, .slide-content-dealer-desktop > .swiper-wrapper > .swiper-slide:after,
.slide-content-individual-desktop > .swiper-wrapper > .swiper-slide:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #f2f2f2;
	border-width: 10px;
	margin-top: -10px;
}
.slide-content-desktop > .swiper-wrapper > .swiper-slide:before, .slide-content-dealer-desktop > .swiper-wrapper > .swiper-slide:before,
.slide-content-individual-desktop > .swiper-wrapper > .swiper-slide:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #f2f2f2;
	border-width: 20px;
	margin-top: -20px;
	z-index: 99;
}
.slide-content-desktop > .swiper-wrapper > .swiper-slide-active,
.slide-content-dealer-desktop > .swiper-wrapper > .swiper-slide-active,
.slide-content-individual-desktop > .swiper-wrapper > .swiper-slide-active {
	width: 33.33% !important;
	background-color: #f2f2f2;
	z-index: 99;
}
.slide-content-desktop > .swiper-slide-next, .slide-content-desktop > .swiper-wrapper > .swiper-slide, 
.slide-content-dealer-desktop > .swiper-slide-next, .slide-content-dealer-desktop > .swiper-wrapper > .swiper-slide,
.slide-content-individual-desktop > .swiper-slide-next, .slide-content-individual-desktop > .swiper-wrapper > .swiper-slide {
	width: 33.33% !important;
}
.step_slide_row {
	width: 118%;
	margin-right: 0;
	padding-right: 0;		
}
.step_slide_row > div {
	padding-right: 0;
}
.step_point_title {
	color: #000;
	font-size: 13px;
	font-weight: 500;
}
.step_desc {
	color: #000;
	font-size: 13px;
}
.step_points {
	padding-left: 15px;
	list-style: square;
}
.slide-content {
	background: radial-gradient(#f4f4f4, #0000000f);
}
.swiper-slide {
	margin-right: 6px !important;
}
.slide-container.swiper {
	padding-bottom: 0 !important;
	box-shadow: 0 0 10px 10px #f4f4f4 !important;
}
.bullet_square {
	float: right;
	margin-top: 7px;
	width: 25%;
}
.income_doc_desktop {
	margin-left: -40px !important;
}
.slide-content-mobile > .swiper-wrapper > .swiper-slide-active {
	width: 100% !important;
	/*background-color: #f2f2f2;*/
	z-index: 99;
}
.slide-content-mobile > .swiper-slide-next, .slide-content-mobile > .swiper-wrapper > .swiper-slide {
	width: 100% !important;
}
.acc_saving_link:hover {
	text-decoration: none !important;
}
.link_title {
	margin-bottom: 0px;
	font-weight: 600;
	color: #2e2e2e;
}
.acc_saving_link:hover > .row > .col-8 > .link_title {
	color: #A5000B !important;
}
#avail_car {
	text-decoration: underline;
	cursor: pointer;
}
#avail_car:hover {
	color: #a5000B;
}
@media (max-width: 1370px) and (min-width: 1281px) {
	.step_slide_row {
		width: 114%;
	}
	.salaried_staff_div {
		padding: 50px 70px 70px 50px;
	}
	.self_employ_div {
		padding: 50px 70px 70px 50px;
	}
	.loan_eligibility_check {
	    padding: 30px 40px 20px 60px !important;
	}
	.nav-item-separate {
		width: 80% !important;
	}
}
@media (max-width: 1280px) and (min-width: 1000px) {
	.bullet_square {
		width: 50%;
	}
	.step_slide_row {
		width: 111%;
	}
	#quick_look {
	    padding-right: 100px;
	}
	.loan_eligibility_check_inner {
		padding-right: 10px !important;
	}
	.income_doc_desktop {
		margin-left: -45px !important;
	}
	.income_document_div {
	    height: 400px;
		background-image: url('../../../../images/borrowing/hire_purchase/auto_loan/income_document_bg_4.png');
		padding: 60px 170px 0px 50px;
	}
	.swiper-wrapper {
		height: 95%;
	}
	.nav-item-separate {
		width: 90% !important;
	}
	.slide-content-desktop > .swiper-slide-next, .slide-content-desktop > .swiper-wrapper > .swiper-slide {
	    width: 51% !important;
	}
}

@media only screen and (max-width: 576px){
	.call_deposit_title {
		font-size: calc(1.2625rem + 0.15vw);
		font-weight: 600 !important;
	}
	.col-11 {
		padding-left: 15px !important;
	}
	.open_at_aya_branch_icon {
		width: 100%;
	}
	.benefit_table {
		zoom: 80%;
		margin-bottom: 0px !important;
	}
	.benefit_table_div {
		overflow: auto;
	}
	.swiper-wrapper {
	    height: 90%;
	}
	.loan_eligibility_check {
	    background-position: 60% center;
	    padding: 30px 30px 20px 30px !important;
	    height: 260px;
	}
    
	.income_document_div, .self_employ {
		height: 230px;
		background-image: linear-gradient(225deg, transparent 40px, rgb(255 255 255) 40px);
	    padding: 10px;
	    position: relative;
	    filter: drop-shadow(0px 0px 10px #0000001a);
	    padding: 20px 40px 0px 20px;
	    margin-top: 30px;
	}
	.self_employ {
		height: 260px;
	}
	.income_doc_desktop {
	    margin-left: 0px !important;
	    margin-top: 20px !important;
	}
	.step_slide_row {
    	width: 100%;
    }
    .swiper-slide {
	    margin-right: 25px !important;
	}
	.bullet_square {
		width: 50%;
	}
	.col-1 {
		width: 10% !important;
	}
	.col-11 {
		width: 90% !important;
	}
	.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	    transform: translate(-80%,40%) !important;
	    padding: 5px;
	}
	.loan_eligibility_check_inner {
	    padding-right: 90px !important;
	}
}
@media only screen and (max-width: 350px){
	.income_document_div, .self_employ {
		height: 290px;
		background-image: linear-gradient(225deg, transparent 40px, rgb(255 255 255) 40px) !important;
	    padding: 10px;
	    position: relative;
	    filter: drop-shadow(0px 0px 10px #0000001a);
	    padding: 20px 40px 0px 20px;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.self_employ_title {
		margin-left: 15px;
	}
	.income_doc_desktop {
	    margin-left: 0px !important;
	    margin-top: -20px !important;
	}
}