.nav-link, h4 {
	color: #2e2e2e !important;
}
.side-nav > .nav-item > .nav-link {
	padding: 0 1.25rem 1rem 0 !important;
	font-size: 16px;
}
.side-nav > .nav-item > .nav-link:hover {
	text-decoration: none !important;
}
.nav-item-separate {
	border-bottom: 4px solid #A5000B;
	width: 80% !important;
	margin-top: 5px;
	display: none;
}
.side-nav.nav-pills .nav-link.active {
	border-radius: 0;
	padding-bottom: 0px !important;
	color: #ae071d !important;
}
.side-nav.nav-pills .nav-link.active .nav-item-separate {
	display: block;
}
.side-link {
	display: block;
}
.side-nav.nav-pills > li > .side-link.active {
    border-radius: 0;
    padding-bottom: 0px !important;
    color: #ae071d !important;
}
.side-nav > li > .side-link {
	color: #2e2e2e !important;
    padding: 0 1.25rem 1rem 0 !important;
    font-size: 16px;
}
.side-nav > li > a.active .nav-item-separate {
	display: block;
}
.scroll_content::-webkit-scrollbar{
    display: none;
}
#myScrollspy {
	position: sticky;
	top: 20px;
	z-index: 99;
}
.col-1 {
	width: 6% !important;
}
.col-11 {
	padding-left: 0px !important;
}
#quick_look {
	padding-right: 120px;
}
.apply_now_btn {
	background-color: #ae071d !important;
	color: #fff !important;
	font-weight: 500;
	padding: 15px 25px !important;
	border: 1px solid #ae071d !important;
	margin-bottom: 2rem;
}
.apply_now_btn:hover {
	background-color: #fff !important;
	color: #ae071d !important;
}
.income_document_div {
    height: 347px;
	background-image: url('../../../../images/borrowing/hire_purchase/auto_loan/income_document_bg_2.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	padding: 70px 140px 70px 70px;
}
.bullet_square {
	float: right;
	margin-top: 7px;
	width: 25%;
}
.income_doc_desktop {
	margin-left: -40px !important;
}

@media (max-width: 1300px) and (min-width: 1271px) {
	.step_slide_row {
		width: 114%;
	}
	.income_document_div {
	    height: 320px;
	}
	.salaried_staff_div {
		padding: 50px 120px 70px 50px;
	}
	.self_employ_div {
		padding: 50px 90px 70px 50px;
	}
	.loan_eligibility_check {
	    padding: 30px 40px 20px 60px !important;
	}
}

@media (max-width: 1270px) and (min-width: 1000px) {
	.bullet_square {
		width: 50%;
	}
	#quick_look {
	    padding-right: 100px;
	}
	.income_doc_desktop {
		margin-left: -45px !important;
	}
	.salaried_staff_div, .self_employ_div {
	    height: 400px;
		background-image: url('../../../../images/borrowing/hire_purchase/auto_loan/income_document_bg_4.png');
		padding: 60px 70px 0px 50px;
	}
}

@media only screen and (max-width: 576px){
	.call_deposit_title {
		font-size: calc(1.2625rem + 0.15vw);
		font-weight: 600 !important;
	}
	.col-11 {
		padding-left: 15px !important;
	}
	.income_document_div {
	    padding: 60px 90px 70px 60px;
	}
	.salaried_staff_div {
	    background-image: url(../../../../images/borrowing/hire_purchase/auto_loan/income_document_bg_mobile.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-color: transparent;
	    padding: 70px 70px 0px 60px;
	}
	.self_employ {
		padding: 70px 70px 0px 70px;
    	background-position: top center;
	}
	.income_doc_desktop {
	    margin-left: 0px !important;
	    margin-top: 20px !important;
	}
	.bullet_square {
		width: 50%;
	}
	.col-1 {
		width: 10% !important;
	}
	.col-11 {
		width: 90% !important;
	}
}