.nav-link, h4 {
	color: #2e2e2e !important;
}
.side-nav > .nav-item > .nav-link {
	padding: 0 1.25rem 1rem 0 !important;
	font-size: 16px;
}
.side-nav > .nav-item > .nav-link:hover {
	text-decoration: none !important;
}
.working_capital_link > .nav-item-separate {
	border-bottom: 4px solid #A5000B;
	width: 77% !important;
	margin-top: 5px;
	display: none;
}
.nav-item-separate {
	border-bottom: 4px solid #A5000B;
	width: 60% !important;
	margin-top: 5px;
	display: none;
}
.side-nav.nav-pills .nav-link.active {
	border-radius: 0;
	padding-bottom: 0px !important;
	color: #ae071d !important;
}
.side-nav.nav-pills .nav-link.active .nav-item-separate {
	display: block;
}
.side-link
 {
	display: block;
}
.side-link:hover {
	text-decoration: none !important;
	 color: #ae071d !important;
}
.side-nav.nav-pills > li > .side-link.active {
    border-radius: 0;
    padding-bottom: 0px !important;
    color: #ae071d !important;
}
.side-nav > li > .side-link {
	color: #2e2e2e !important;
    padding: 0 1.25rem 1rem 0 !important;
    font-size: 16px;
}
.side-nav > li > a.active .nav-item-separate {
	display: block;
}
.scroll_content::-webkit-scrollbar{
    display: none;
}
#myScrollspy {
	position: sticky;
	top: 20px;
	z-index: 99;
}
.bullet_square {
	width: 8%;
}
.fee_charge_table {
	width: 100% !important;
}
#working_capital_loan_over_draft, .jica_sme_two_step_loan, .aya_sme_loan, .agriculture_loan, .micro_loan, .demand_loan {
	padding-right: 250px;
	font-size: 18px;
	font-weight: 700;
}
.secure_req_application_icon {
	margin-top: -5px;
}
.secure_credit_fact {
	padding-left: 0 !important;
}
.working_capital_loan_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 43% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}

/*#demand_loan {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 43% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}*/
.jica_sme_two_step_loan_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 60% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.aya_sme_loan_tagline{
	color: #000;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 50% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.agriculture_loan_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 70% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.miro_loan_tagline {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	width: 70% !important;
	position: absolute;
	top: 80%;
	left: 4%;
}
.contact_us_btn {
	background-color: #ae071d !important;
	color: #fff !important;
	font-weight: 500;
	padding: 15px 25px !important;
	border: 1px solid #ae071d !important;
	margin-bottom: 10px;
}
.contact_us_btn:hover {
	background-color: #fff !important;
	color: #ae071d !important;
}
.c-b-l-icon {
	width: 60% !important;
}
.why_use_AYA_outer {
	column-gap: 30px;
}
.why_use_AYA_outer > .col-md-4 {
	width: 31%;
}
.benefit_section_col {
    background-color: #fff;
    border: none !important;
    border-radius: 10px;
    padding: 0px 20px;
    box-shadow: 0px 0px 50px 20px rgb(149 149 149 / 20%);
    margin-bottom: 40px;
}
.benefit_section_col > .row {
	padding: 30px;
}
.benefit_icon {
	width: 20% !important;
	margin-bottom: 20px;
}
.benefit_table_icon_td {
	width: 17%;
}
.need-to-know-point {
	margin-left: -5rem;
}
.should-apply-point {
    margin-left: -3rem;
}
.micro_loan_points {
	margin-left: -2rem;	
}
.micro_loan_return_points {
	margin-left: -3rem;	
}
.micro_bullet_square_div, .micro_bullet_fact_div {
	display: table;
}
.micro_bullet_square {
	width: 13%;
	display: table-cell;
	margin-top: 2px;
}
.micro_loan_return_points {
	margin-top: -5px;
}
.return_collectral_table {
	width: 80%;
}
.accordion-body > .nav-align-top > .nav {
	justify-content: start;
}
.accordion-button::after {
	display: none;
}
.accordion-header {
	border-bottom: none !important;
}
.accordion-button {
	background-color: #f7f7f7 !important;
	border-radius: 0.375rem !important;
}
.accordion-close {
	display: none;
}
.accordion-open {
	border: 2px solid #ae071d;
	color: #ae071d;
	padding: 10px;
	margin-right: 10px;
}
.accordion-close {
	border: 2px solid #fff;
	color: #fff;
	padding: 10px;
	margin-right: 10px;
}
.accordion-open i, .accordion-close i {
	margin: 0;
}
.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #ae071d !important;
    box-shadow: inset 0 0 0 #d9dee3;
}
.accordion-button:not(.collapsed) > .accordion-close {
    display: block;
    transform: rotate(180deg) !important;
    transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed) > .accordion-open {
    display: none;
    transform: rotate(180deg) !important;
    transition: transform 0.2s ease-in-out;
}
.accordion-item {
	margin-bottom: 30px;
}
.card {
	background-color: transparent !important;
	box-shadow: none !important;
}
.card-content {
	background-color: #fff;
}
.testimonial_quote {
	background-image: url('../../../images/business/borrowing/sme/testimonial_border_2.png');
	height: 440px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 67% center;
    position: absolute;
    top: 18%;
    z-index: 5;
}
.swiper-wrapper {
	height: 180% !important;
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	background: white;
	transition: all .3s ease;
	opacity: 0.3;
}
.swiper-slide:not(.swiper-slide-active) > .card-content > .row > .col-md-6.photo_div {
	width: 85% !important;
}
.swiper-slide:not(.swiper-slide-active) > .card-content > .row > .col-md-6.info_div {
	display: none !important;
}
.swiper-slide:not(.swiper-slide-active).swiper-slide-prev > .card-content {
	margin-left: -30% !important;
}
.swiper-slide:not(.swiper-slide-active).swiper-slide-next > .card-content {
	margin-right: -40% !important;
}

.swiper-slide-active {
	color:#000;
	transform: scale(1.8) !important;
	z-index: 5;
	font-size: 8px !important;
	box-shadow: none !important;
	opacity: 1;
}
.swiper-slide-active > .card-content > .row > .col-md-6 > .description {
	font-size: 7px !important;
}
.swiper-slide-active > .card-content {
	box-shadow: 0px 0px 20px 10px rgb(149 149 149 / 20%) !important;
}
.swiper-button-prev, .swiper-button-next {
    border: 2px solid #3e3e3e;
    border-radius: 50%;
    padding: 25px;
}
.swiper-navBtn{
	color: #6E93f7;
	transition: color 0.3s ease !important;
}
.swiper-navBtn:hover{
	color: #4070F4 !important;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
	font-size: 25px !important;
	color: #3e3e3e;
}
.swiper-button-next{
	right: 10% !important;
}
.swiper-button-prev{
	left: 8% !important;
}
.swiper-pagination-bullet{
	background-color: #6E93f7;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #4070F4;
}
.swiper-navBtn{
	display: none;
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	transform: translate(-50%,40%) !important;
	padding: 5px;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,13px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,13px));
}
.swiper-pagination-bullet {
	background-color: #c3c3c3;
}
.swiper-pagination-bullet-active {
	background-color: #982801;
	border: 2px solid #fff;
		outline: 2px solid #982801;
}
.info_div {
	padding: 50px 20px 0px 20px;
}
.phz_name_property {
	position: absolute;
	right: 0;
	top: 62%;
	left: 80%;
}
.moe_fashion_name_property {
	position: absolute;
	right: 0;
	top: 62%;
	left: 75%;
}
.juno_desc  {
	padding-right: 27px;
	padding-left: 5px;
}
.phz_desc  {
	padding-right: 25px;
	padding-left: 5px;
}
.uzo_desc {
	padding-right: 30px;
	padding-left: 5px;
}
.daw_than_shin_desc {
	padding-right: 35px;
    padding-left: 5px;
}
.daw_than_shin_name_property {
	position: absolute;
	right: 0;
	top: 60%;
    left: 69%;
}
.uzo_name_property {
	position: absolute;
	right: 0;
	top: 60%;
	left: 82%;
}
.success_story_section {
	position: relative;
	margin-top: -80px;
}
.apply-with-collectral-tab, .return-collectral-tab {
	padding-right: 60px;
}
@media (max-width: 1400px) and (min-width: 1301px) {
	.working_capital_loan_tagline{
		width: 55% !important;
	    top: 80%;
	}
	.jica_sme_two_step_loan_tagline {
	    width: 75% !important;
	}
	.aya_sme_loan_tagline {
	    width: 60% !important;
	}
	.agriculture_loan_tagline {
		width: 80% !important;
	}
	.micro_loan_tagline {
		width: 65% !important;
	}
	.testimonial_quote {
	    height: 400px;
	    background-position: 68% center;
	    top: 20%;
	}
	.info_div {
		padding: 30px 10px 0px 20px;
	}
	.daw_than_shin_name_property {
	    position: absolute;
	    right: 0;
	    top: 60%;
	    left: 68%;
	}
	.phz_desc, .juno_desc {
	    padding-right: 30px;
	    padding-left: 5px;
	}
	.moe_fashion_name_property {
	    top: 60%;
	    left: 72%;
	}
}
@media (max-width: 1300px) and (min-width: 1271px) {
	.working_capital_loan_tagline{
		width: 49% !important;
	    top: 80%;
	}
	.jica_sme_two_step_loan_tagline {
	    width: 67% !important;
	}
	.aya_sme_loan_tagline {
	    width: 55% !important;
	}
	.agriculture_loan_tagline {
		width: 80% !important;
	}
	.micro_loan_tagline {
		width: 65% !important;
	}
	.swiper-slide:not(.swiper-slide-active) > .card-content > .row > .col-md-6.photo_div {
	    width: 75% !important;
	}
	.swiper-slide:not(.swiper-slide-active).swiper-slide-duplicate-prev > .card-content {
	    margin-right: -30% !important;
	}
	.swiper-slide:not(.swiper-slide-active).swiper-slide-next > .card-content {
	    margin-right: -50% !important;
	}
	.testimonial_quote {
		height: 380px;
	    background-position: 68% center;
	    top: 18%;
	}
	.info_div {
		padding: 30px 10px 0px 30px;
	}
	.phz_name_property, .moe_fashion_name_property {
		top: 60%;
	}
	.moe_fashion_name_property {
		left: 72%;
	}
	.daw_than_shin_name_property {
		position: absolute;
	    right: 0;
	    top: 60%;
	    left: 65%;
	}
}
@media (max-width: 1270px) and (min-width: 1101px) {
	.working_capital_loan_tagline, .aya_sme_loan_tagline, .jica_sme_two_step_loan_tagline, .agriculture_loan_tagline, .micro_loan_tagline {
		font-size: 18px;
	    line-height: 22px;
	}
	.working_capital_loan_tagline{
		width: 90% !important;
    	top: 75%;
	}
	.jica_sme_two_step_loan_tagline {
	    width: 55% !important;
	    top: 75%;
	}
	.aya_sme_loan_tagline {
		width: 60% !important;
		top: 75%;
	}
	.agriculture_loan_tagline{
		width: 80% !important;
	    top: 75%;
	}
	.micro_loan_tagline{
		width: 80% !important;
	    top: 75%;
	}
	.bullet_square {
		width: 11%;
	}
	.c-b-l-icon {
		width: 100% !important;
	}
	.fee_charge_table {
	    width: 100% !important;
	}
	.need-to-know-point {
	    margin-left: -3rem;
	}
	.should-apply-point {
	    margin-left: -2rem;
	}
	.why_use_AYA_outer > .col-md-4 {
	    width: 47%;
	}
	.benefit_icon {
    	width: 15% !important;
    }
    .info_div {
	    padding: 20px 20px 0px 20px;
	}
	.testimonial_quote {
	    height: 400px;
	    background-position: 76% center;
	    top: 15%;
	}
	.success_story_section {
	    margin-top: -60px !important;
	}
	.swiper-wrapper {
	    height: 210% !important;
	}
	.swiper-slide-active {
	    transform: scale(2.2) !important;
	    font-size: 6.5px !important;
	    opacity: 1;
	}
	.swiper-slide-active > .card-content > .row > .col-md-6 > .description {
	    font-size: 6px !important;
	}
	.swiper-slide:not(.swiper-slide-active) > .card-content > .row > .col-md-6.photo_div {
	    width: 65% !important;
	}
	.swiper-slide:not(.swiper-slide-active).swiper-slide-next > .card-content {
	    margin-right: -65% !important;
	}
	.swiper-slide:not(.swiper-slide-active).swiper-slide-duplicate-prev > .card-content {
	    margin-right: -30% !important;
	}
	.swiper-button-prev {
	    left: 4% !important;
	}
	.swiper-button-next {
	    right: 6% !important;
	}
	.phz_name_property, .moe_fashion_name_property {
	    top: 58%;
	}
	.uzo_desc {
	    padding-right: 15px;
	    padding-left: 5px;
	    margin-bottom: 5px;
	}
	.daw_than_shin_desc {
	    padding-right: 20px;
	    padding-left: 5px;
	    margin-bottom: 5px;
	}
	.daw_than_shin_name_property {
	    position: absolute;
	    right: 0;
	    top: 60%;
	    left: 65%;
	}
	.micro_loan_points {
	    margin-left: -1rem;
	}
}
@media (max-width: 1100px) and (min-width: 1000px) {
	.working_capital_loan_tagline, .aya_sme_loan_tagline, .jica_sme_two_step_loan_tagline, .agriculture_loan_tagline, .micro_loan_tagline {
		font-size: 18px;
	    line-height: 22px;
	}
	.working_capital_loan_tagline{
		width: 90% !important;
    	top: 75%;
	}
	.jica_sme_two_step_loan_tagline {
	    width: 55% !important;
	    top: 75%;
	}
	.aya_sme_loan_tagline {
		width: 60% !important;
		top: 75%;
	}
	.agriculture_loan_tagline{
		width: 80% !important;
	    top: 75%;
	}
	.micro_loan_tagline{
		width: 80% !important;
	    top: 75%;
	}
	.micro_loan_points {
    	margin-left: -1rem;	
    }
	.bullet_square {
		width: 11%;
	}
	.c-b-l-icon {
		width: 100% !important;
	}
	.fee_charge_table {
	    width: 100% !important;
	}
	.need-to-know-point {
	    margin-left: -3rem;
	}
	.should-apply-point {
	    margin-left: -2rem;
	}
	.why_use_AYA_outer > .col-md-4 {
	    width: 47%;
	}
	.benefit_icon {
    	width: 90% !important;
    }
    .info_div {
	    padding: 20px 20px 0px 20px;
	}
	.testimonial_quote {
	    height: 360px;
	    background-position: 76% center;
	    top: 15%;
	}
	.swiper-slide-active {
	    transform: scale(2.2) !important;
	    font-size: 6.5px !important;
	    opacity: 1;
	}
	.swiper-slide-active > .card-content > .row > .col-md-6 > .description {
	    font-size: 6px !important;
	}
	.swiper-slide:not(.swiper-slide-active) > .card-content > .row > .col-md-6.photo_div {
	    width: 65% !important;
	}
	.swiper-slide:not(.swiper-slide-active).swiper-slide-next > .card-content {
	    margin-right: -65% !important;
	}
	.swiper-slide:not(.swiper-slide-active).swiper-slide-duplicate-prev > .card-content {
	    margin-right: -30% !important;
	}
	.swiper-button-prev {
	    left: 4% !important;
	}
	.swiper-button-next {
	    right: 6% !important;
	}
	.phz_name_property {
	    top: 58%;
	}
	.moe_fashion_name_property {
	    top: 61%;
	    left: 71%;
	}
	.uzo_desc {
	    padding-right: 15px;
	    padding-left: 5px;
	    margin-bottom: 5px;
	}
	.daw_than_shin_desc {
	    padding-right: 20px;
	    padding-left: 5px;
	    margin-bottom: 5px;
	}
	.daw_than_shin_name_property {
	    position: absolute;
	    right: 0;
	    top: 60%;
	    left: 65%;
	}
}
@media (max-width: 999px) and (min-width: 577px) {
    .micro_loan_points {
    	margin-left: -1rem;	
    }
}
@media only screen and (max-width: 576px){
	.why_use_AYA_outer {
		column-gap: unset;
		padding: 0px 15px;
	}
	.why_use_AYA_outer > .col-md-4 {
		width: 100%;
	}
	.benefit_icon {
	    width: 30% !important;
	}
	#working_capital_loan_over_draft, .demand_loan, .jica_sme_two_step_loan, .aya_sme_loan, .agriculture_loan, .micro_loan {
		padding-right: 0px;
	}
	.calldeposit__mobile_title {
		font-size: calc(1.2625rem + 0.15vw);
		font-weight: 600 !important;
	}
	.bullet_square {
		width: 100%;
	}
	.working_capital_loan_tagline, .aya_sme_loan_tagline, .jica_sme_two_step_loan_tagline, .agriculture_loan_tagline, .micro_loan_tagline {
		font-size: 18px;
	    line-height: 22px;
	}
	.working_capital_loan_tagline {
		width: 65% !important;
    	top: 50%;
	}
	.c-b-l-icon {
		width: 100% !important;
		float: center !important;
	}
	.c-b-l-div {
		text-align: center;
	}
	.fee_charge_table {
		width: 100% !important;
	}
	.jica_sme_two_step_loan_tagline {
	    width: 90% !important;
	    top: 50%;
	    left: 4%;
	}
	.aya_sme_loan_tagline {
		width: 95% !important;
	    top: 50%;
	    text-shadow: 0px 0px 40px #fff;
	}
	.agriculture_loan_tagline {
		width: 95% !important;
	    top: 50%;
	}
	.micro_loan_tagline{
		top: 65%;
		width: 90% !important;
	}
	.benefit_table_icon_td {
		width: 30%;
		vertical-align: top;
	}
	.need-to-know-point, .should-apply-point {
	    margin-left: 0rem;
	}
	.swiper-slide-active {
		transform: scale(1) !important;
		z-index: 5;
		font-size: 14px !important;
		box-shadow: none !important;
	}
	.swiper-slide-active > .card-content > .row > .col-md-6 > .description {
	    font-size: 13px !important;
	}
	.swiper-wrapper {
		height: 100% !important;
	}
	.swiper-button-next, .swiper-button-prev {
	    top: 33% !important;
   	}
	.info_div {
	    padding: 20px 20px 0px 0px;
	}
	.phz_desc, .daw_than_shin_desc, .uzo_desc, .juno_desc {
	    padding-right: 25px;
	    padding-left: 25px;
	}
	.phz_name_property, .uzo_name_property {
	    position: inherit;
	    padding-right: 25px;
	    padding-left: 64%;
	}
	.moe_fashion_name_property {
	    position: inherit;
	    padding-right: 25px;
	    padding-left: 50%;
	}
	.daw_than_shin_name_property {
	    position: inherit;
	    padding-right: 25px;
	    padding-left: 55%;
	}
	.return_collectral_table {
		zoom: 67% !important;
	}
	.accordion-body > .nav-align-top > .nav {
	    justify-content: space-around;
	}
	.apply-with-collectral-tab, .return-collectral-tab {
	    padding-right: 0px;
	}
	.micro_loan_points {
	    margin-left: 0rem;
	}
	.success_story_section {
		margin-top: 0px;
	}
	.micro_loan_return_points {
	     margin-left: 0; 
	}
}